certifi
charset_normalizer >= 3.0.1
charset_normalizer >= 3.1.0
courlan @ git+https://github.com/adbar/courlan
htmldate >= 1.4.3
justext >= 3.0.0
lxml >= 4.9.3 ; platform_system != 'Darwin'
lxml == 4.9.2 ; platform_system == 'Darwin'
urllib3 >= 1.26, < 2; python_version < '3.7'
urllib3 >= 1.26, < 3; python_version >= '3.7'